<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.version.JuegoDeLetras">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name="apps.version.JuegoDeLetras.Ganador" ></activity>
        <activity android:name="apps.version.JuegoDeLetras.Multijugador" ></activity>
        <activity android:name="apps.version.JuegoDeLetras.Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="apps.version.JuegoDeLetras.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="apps.version.JuegoDeLetras.Juego" ></activity>
        <activity android:name="apps.version.JuegoDeLetras.Resultado" ></activity>
    </application>

</manifest>